/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 *= require pages
 *= require rides
 */

@import "bootstrap";

.cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background: image-url("banner.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

.logo-coming-soon {
  margin-top: 193px;
  width: 200px;
  float: right;
  img {
    width: 100%;
  }
}

.title-coming-soon {
  text-align: center;
  position: absolute;
  bottom: 59px;
  right: 0;
  left: 0;
  font-size: 75px;
  font-weight: bold;
  color: black;
}


.text-coming-soon {
  text-align: center;
  position: absolute;
  bottom: 40px;
  right: 0;
  left: 0;
  font-size: 19px;
  font-weight: bold;
  color: black;

  a {
    color: black;
    &:hover {
      text-decoration: none;
      color: #337ab7;
    }
  }
}







